<h3>ngInit</h3>

<p ng-init="basicoCtrl.descricao = 'AngularJS'">{{basicoCtrl.descricao}}</p>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

<h3>ngBind</h3>

<p ng-bind="basicoCtrl.hello"></p>
<p>{{basicoCtrl.goodbye}}</p>

<input type="text" ng-model="basicoCtrl.nome" placeholder="Insira um nome">
<p>ng-bind="name": <span ng-bind="basicoCtrl.nome"></span></p>
<p>{ {name} }: {{ basicoCtrl.name }}</p>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

<h3>ngClick</h3>

<button ng-click="basicoCtrl.onClickTrocarMensagem()">
  Trocar mensagem
</button>
<span>Mensagem: {{basicoCtrl.mensagem}}</span>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

<h3>ngRepeat</h3>

<div ng-repeat="registro in basicoCtrl.lista">
  <span>{{registro.id}} - {{registro.label}}</span>
</div>
<!-- *-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-*-* -->

<h3>ngClass</h3>

<div ng-repeat="registro in basicoCtrl.lista" ng-class="basicoCtrl.getStatusConcluido(registro.concluido)">
  <span>{{registro.label}} - {{registro.concluido}}</span>
</div>
