<h3>ngBind</h3>

<p><span ng-bind="basicoCtrl.hello"></span> AngularJS.</p>
<p>{{basicoCtrl.goodbye}} AngularJS.</p>

<input type="text" ng-model="name" placeholder="Insira um nome">
<p>ng-bind="name": <span ng-bind="name"></span></p>
<p>{name}: {{ name }}</p>

<h3>ngClick</h3>

<button ng-click="basicoCtrl.onClickTrocarMensagem()">
  Trocar mensagem
</button>
<span>Mensagem: {{basicoCtrl.mensagem}}</span>

<h3>ngRepeat</h3>

<div ng-repeat="registro in basicoCtrl.lista">
  <span ng-bind="registro.label"></span>
  <span ng-bind="registro.done"></span>
</div>

<h3>ngClass</h3>

<div ng-repeat="registro in basicoCtrl.lista" ng-class="basicoCtrl.getNoteClass(registro.done)">
  <span ng-bind="registro.label"></span>
  <span ng-bind="registro.done"></span>
</div>
